.person-synopsis {
  display: flex;
  margin: 20px;
}

.person-image {
  flex: 1;
  margin-right: 20px;
}
.person-image img {
  width: 300px;
  height: auto;
}

.person-body {
  flex: 2;
}

.carousels {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.carousel-container {
  width: 80vw;
  overflow: hidden;
  /*margin: auto;*/
}

.carousel {
  display: flex;
  overflow-x: scroll;
}

.movie {
  /*flex-shrink: 0;*/
  /*width: 100%;*/
  /*max-width: 100%;*/
  margin-right: 10px;
}

.small-movie {
  width: 125px;
  height: auto;
}

.movie-title {
  text-align: center;
  margin-top: 10px;
  font-size: 1.0rem;
  font-weight: bold;
}